*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}
html{
    font-family: "lato", "arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #404040;
    background-color: #fff;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
    
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1140px;
    transform: translate(-50%,-50%);
}
h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;

}
h2{
    font-size: 180%;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h3{
    font-size: 110%;
    margin-bottom: 7px;
}
h2::after{
    height: 2px;
    background-color: #cf8a0a;
    content: " ";
    display: block;
    width: 100px;
    margin: 30px auto 0;
}
a:link, a:visited{
    color: #404040;
    text-decoration: none;
    border-bottom: 1px solid #404040;
}  
a:hover, a:active{
    color: #cf8a0a;
    border-bottom: 1px solid #cf8a0a;
}
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 100px;
    transition: background-color 0.2s, color 0.2s, border 0.2s;              
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    color: #fff;
    background-color: #ba7b06;
    border: 1px solid #ba7b06;
    margin-right: 10px;
}
.btn-border:link,
.btn-border:visited{
    color: #ba7b06 ;
    border: 1px solid #ba7b06;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf8a0a;
}
.btn-full:hover,
.btn-full:active{
    border: 1px solid  #cf8a0a;
}
.btn-border:hover,
.btn-border:active{
    border: 1px solid  #cf8a0a;
    color: #fff;
}
.logo-white{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.logo-black{
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
    display: none;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 40px;
}
.main-nav li{
    display:inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0;
    border-bottom: 2px solid transparent ;
    transition: border-bottom 0.2s;

}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #cf8a0a;
}
section{
    padding: 80px 0;
}
.feature-text{
    width: 70%;
    margin-left: 15%;
    line-height: 145%;
    margin-bottom: 30px;
}
.box{
    padding: 1%;
}
.box p{
    font-size: 80%;
    text-align: justify;
}
.icon-big{
    color: #cf8a0a;
    font-size: 240%;
}
.section-features{
    background-color: #eeeeee;
}
.meal-showcase{
    list-style: none;
    width: 100%;
}
.meal-showcase li{
    width: 25%;
    float: left;
}
.meal-photo{
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}
.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.7;
}
.meal-photo img:hover{
    transform: scale(1.05);
    opacity: 1;
}
.section-meals{
    padding: 0;
}
.step-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.step-box:last-child{
    padding-left: 3%;
    margin-top: 60px;
}
.step-box img{
    width: 40%;
    height: auto;
}
.work-steps{
    margin-bottom: 50px;
}
.work-steps div{
    color: #cf8a0a;
    border: 2px solid #cf8a0a;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    float: left;
    margin-right: 5px;
}
.btn-img:link,
.btn-img:visited{
    border: 0;
}
.btn-img img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.work-steps:last-of-type{
    margin-bottom: 90px;
}  
.section-works{
    background-color: #eeeeee;
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
} 
.city-features{
    margin-bottom: 5px;
}
.icon-small{
    color: #cf8a0a;
    font-size: 130%;
    vertical-align: middle;
    margin-right: 3px;
}.section-testimonials{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
blockquote{
    font-style: italic;
    line-height: 145%;
    padding: 2%;
    text-align: justify;
    position: relative;
}
blockquote::before{
    content: "\201C";
    font-size: 450%;
    display: block;
    position: absolute;
    top: 5px;
    left: -20px;
}
cite img{
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin-top: 7px;
    vertical-align: middle;
    margin-right: 5px;
}
cite{
    font-size: 90%;
    display: block;
}
.section-plans{
    background-color: #eeeeee;
}
.plan-box{
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow:10px 10px 10px #a6a6a6;
}
.plan-box div{
    border-bottom: 1px solid #a6a6a6;
    padding: 15px;
}
.meal-month{
    color: #cf8a0a;
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 7px;
}
.meal-month span{
    font-size: 40%;
    font-weight: 300;
}
.meal-daily{
    font-size: 90%;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}
.plan-box div:last-child{
    text-align: center;
    border: 0;
}
.feedback-form{
    width: 60%;
    margin: 0 auto;
}
input[type=text],
input[type=email],
select, 
textarea{
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #a6a6a6;   
}
text-area{
    height: 100px;
}
*:focus{
    outline: none;
}
footer{
    background-color: #404040;
    padding: 50px;
}
.footer-navs{
    list-style: none;
    float: left;
}
.social-navs{
    list-style: none;
    float: right;
}
.footer-navs li,
.social-navs li{
    display: inline-block;
    margin-right: 20px;
}
.footer-navs li a:link,
.footer-navs li a:visited,
.social-navs li a:link,
.social-navs li a:visited{
    color: #9a9a9a;
}
.footer-navs li a:hover,
.footer-navs li a:active{
    color: #eeeeee;
    border: 0;
    text-decoration: none;
}
.social-navs li a:link,
.social-navs li a:visited{
    font-size: 160%;
}
.ion-social-facebook:hover{
    color: #1877F2;
}
.ion-social-twitter:hover{
    color: #1DA1F2;
}
.ion-social-googleplus:hover{
    color: #DD4839;
}
.ion-social-instagram:hover{
    color: #C13584;
}

footer p{
    margin-top: 20px;
    color: #9a9a9a;
    font-size: 90%;
}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 2px 2px #d4d4d4;
    z-index: 9999;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color: #404040;
    padding: 23px 0;
}
.sticky .main-nav{
    margin-top: 10px;
}
.sticky .logo-black{
    display: block;
}
.sticky .logo-white{
    display: none;
}
.js--wp-1,
.js--wp-2,
.js--wp-3{
    animation-duration: 1s;
}
.js--wp-4{
    animation-duration: 1s;
}
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}
